<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{config/layout :: layoutBase('Recipe', 'recipes', 'Add recipe')}">
<head>
    <title>Recipe</title>
</head>

<body>
<div th:fragment="content" class="container">

    <p class="h4 mb-4">Add recipe</p>

    <form action="#" th:action="@{/recipes/save}" th:object="${theRecipe}" method="POST">
        <!-- add hidden form field to handle the update -->
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-section">
                    <legend>Recipe Info</legend>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-2 col-form-label text-end pe-3" >Name</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{name}" class="form-control" placeholder="What´s it name?" required>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-2 col-form-label text-end pe-3" >Description</label>
                    <div class="col-sm-10">
                        <textarea type="text" th:field="*{description}" class="form-control" rows="3" placeholder="Tell me about the recipe">
                        </textarea>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-end pe-3" >Time to prepare</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{preparationTime}" class="form-control" placeholder="Amount in minutes" aria-label="time" >
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-end pe-3" >Difficulty to prepare</label>
                    <div class="col-sm-9">
                        <select th:field="*{difficulty}" class="form-select" >
                            <option value="">Is this recipe difficult to make?</option>
                            <option th:each="d : ${difficulties}"
                                    th:value="${d}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(d))}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-end pe-3" >Season</label>
                    <div class="col-sm-9">
                        <select th:field="*{season}" class="form-select" >
                            <option value="">Which station is it from?</option>
                            <option th:each="s : ${seasons}"
                                    th:value="${s}"
                                    th:text="${#strings.capitalize(#strings.toLowerCase(s))}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <label class="col-sm-3 col-form-label text-end pe-3" >Diners</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{porcions}" class="form-control" placeholder="Tell me about the recipe" aria-label="portions">
                    </div>
                </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="form-section">
                    <legend>Scores & Classification</legend>
                    <div class="row mb-3 align-items-center">
                        <label class="col-sm-3 col-form-label text-end pe-3" >Healthy score</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{healthyScore}" class="form-control" placeholder="from 0 to 100">
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <label class="col-sm-3 col-form-label text-end pe-3" >Taste score</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{tasteScore}" class="form-control" placeholder="from 0 to 100" >
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <p class="h4 mb-4">Steps</p>

        <table class="table table-bordered table-striped">
            <thead class="table-dark placeholder-wave">
            <tr>
                <th>Order</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody id="steps-container">
            <tr th:each="step, iterStat : *{steps}">
                <input type="hidden" th:field="*{steps[__${iterStat.index}__].id}">
                <td class="col-1"><input type="text" th:field="*{steps[__${iterStat.index}__].orderNumber}"
                                         class="form-control" placeholder="Num"></td>
                <td><input type="text" th:field="*{steps[__${iterStat.index}__].description}" class="form-control"
                           placeholder="Description" aria-label="description"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="addStep()" class="btn btn-warning col-1">New step</button>
        <button type="submit" class="btn btn-info col-1">Save recipe</button>

    </form>

    <hr>
    <a th:href="@{/recipes/list}">Go to list recipes</a>

    <script th:inline="javascript">
        let stepIndex = [[${#lists.size(theRecipe.steps)}]];

        function addStep() {
            const container = document.getElementById("steps-container");

            const tr = document.createElement("tr");

            tr.innerHTML = `
                <input type="hidden" name="steps[${stepIndex}].id">

                <td class="col-1">
                    <input type="text" name="steps[${stepIndex}].orderNumber" class="form-control" placeholder="Num">
                </td>
                <td>
                    <input type="text" name="steps[${stepIndex}].description" class="form-control" placeholder="Description">
                </td>
            `;

            container.appendChild(tr);
            stepIndex++;
        }
    </script>
</div>
</body>
</html>