<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{config/layout :: layoutBase('Label', 'labels', null)}">
<head>
    <title>Label</title>
</head>

<body>
<div th:fragment="content" class="container">

    <p class="h4 mb-4">Add new label</p>

    <form action="#" th:action="@{/labels/save}" th:object="${theLabel}" method="POST">
        <!-- add hidden form field to handle the update -->
        <input type="hidden" th:field="*{id}">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" th:field="*{name}" class="form-control" placeholder="Label name" aria-label="Name" required>
        </div>

        <button type="submit" class="btn btn-info col-1">Save</button>
    </form>

    <hr>
    <a th:href="@{/labels/list}">Go to list labels</a>
</div>
</body>
</html>